{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}


	<div class="example-wrapper">
		{% for category in categories %}
			<h1>{{ category.name }}</h1>
			<a href="{{ path("category_show", { categoryName: category.name }) }}">
				Voir les programmes de cette catégorie
			</a>
		{% endfor %}
	</a>
	<a href="{{ path('category_new') }}">
		Ajouter une nouvelle catégorie
	</a>
	<a href="{{ path('program_home') }}">
		Aller à la liste des programmes
	</a>
</div>{% endblock %}
