{% extends 'base.html.twig' %}

{% block title %}Hello ActorController!
{% endblock %}

{% block body %}
	<div>
		{% for actor in actors %}
			<p>{{ actor.firstname }}
				{{ actor.lastname }}</p>
		{% endfor %}
	</div>
{% endblock %}
