{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{ program.title }}</h1>
	<p>{{ program.synopsis }}</p>
	<p>{{ program.category.name }}</p>

	<a href="{{ path('program_home') }}">
		Retour à la liste des programmes
	</a>
{% endblock %}
